<div class="typography">
  <div class="mat-h1">Font sizes</div>

  <code>
    <pre>
    <span class="scss-variable">$custom-typography</span>: mat-typography-config(
    <span class="scss-variable"> $font-family</span>: 'Roboto',
    <span class="scss-variable"> $display-4</span>: mat-typography-level(110px, 112px, 300),
    <span class="scss-variable"> $display-3</span>: mat-typography-level(54px, 56px, 400),
    <span class="scss-variable"> $display-2</span>: mat-typography-level(43px, 48px, 400),
    <span class="scss-variable"> $display-1</span>: mat-typography-level(32px, 40px, 400),
    <span class="scss-variable"> $headline</span>: mat-typography-level(22px, 32px, 400),
    <span class="scss-variable"> $title</span>: mat-typography-level(18px, 32px, 500),
    <span class="scss-variable"> $subheading-2</span>: mat-typography-level(14px, 28px, 400),
    <span class="scss-variable"> $subheading-1</span>: mat-typography-level(13px, 24px, 400),
    <span class="scss-variable"> $body-2</span>: mat-typography-level(12px, 24px, 500),
    <span class="scss-variable"> $body-1</span>: mat-typography-level(12px, 20px, 400),
    <span class="scss-variable"> $caption</span>: mat-typography-level(10px, 20px, 400),
    <span class="scss-variable"> $button</span>: mat-typography-level(12px, 14px, 500)
    );
   </pre>
  </code>

  <div class="mat-display-4">.mat-display-4</div>
  <div class="mat-display-3">.mat-display-3</div>
  <div class="mat-display-2">.mat-display-2</div>
  <div class="mat-display-1">.mat-display-1</div>
  <div class="mat-h1">.mat-h1 - 25px</div>
  <div class="mat-h2">.mat-h2 - 22px</div>
  <div class="mat-h3">.mat-h3</div>
  <div class="mat-h4">.mat-h4</div>
  <div class="mat-body-1">.mat-body-1 - 14px</div>
  <div class="mat-body-2">.mat-body-2</div>
  <div class="mat-small">.mat-small</div>
</div>
